.calendarContainer {
    display: grid;
    grid-template-areas: 
    ". head head head head head head head"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data"
    "time data data data data data data data";

    width: 800px;
    border: 4px solid black;
}

.calendarContainer > * > * {
    border: 1px solid black;
    text-align: center;
}

.calendarHeader {
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(7, 1fr)
}

.calendarTime {
    grid-area: time;
    display: grid;
}

.calendarData {
    grid-area: data;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(12, 1fr);
}

.free {
    background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
    text-decoration: none;
}

.booked {
    background-color: rgb(236, 120, 120);
}

.free:hover, .free:focus {
    background-color: aquamarine;
}