.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navLink {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, p {
  text-align: center;
}
